<a href="https://colab.research.google.com/github/rafles19/HandsOnDataScience_Newbie/blob/main/Data_Normalization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [9]:
df = pd.read_csv("/content/drive/MyDrive/Buku-Machine-Learning-main/Data Normalization and Discretization/datasetgaji2.csv")

In [10]:
df.head()

             Nama Status Rumah  Gaji Orang Tua  Umur
0      aldi taher      Kontrak         2100000    24
1          kekeyi        Milik         4000000    23
2   rangga sasana      Kontrak         1400000    21
3  vicky prasetyo      Kontrak          700000    28
4            Zuko        Milik          650000    27

Simple Feature Scaling

rumus : *X_new = X / X_max*

In [11]:
xmax =  df['Umur'].max()
xmax

28

In [12]:
df['simple_scaling'] = df['Umur'] / xmax
df

             Nama Status Rumah  Gaji Orang Tua  Umur  simple_scaling
0      aldi taher      Kontrak         2100000    24        0.857143
1          kekeyi        Milik         4000000    23        0.821429
2   rangga sasana      Kontrak         1400000    21        0.750000
3  vicky prasetyo      Kontrak          700000    28        1.000000
4            Zuko        Milik          650000    27        0.964286
5           dyrga      Kontrak          450000    22        0.785714

Min-Max *Normalization*

rumus X = (x-x_min)/(x_max-x_min)

In [13]:
xmin = df['Umur'].min()
xmin

21

In [14]:
df['minmax'] = (df['Umur'] - xmin) / (xmax - xmin)

In [15]:
print(df['minmax'])

0    0.428571
1    0.285714
2    0.000000
3    1.000000
4    0.857143
5    0.142857
Name: minmax, dtype: float64

In [16]:
#menggunakan library sklearn
scaler = MinMaxScaler()
scaled = scaler.fit_transform(df[['Umur']])
print(scaled)

[[0.42857143]
 [0.28571429]
 [0.        ]
 [1.        ]
 [0.85714286]
 [0.14285714]]

*Mean Normalization*


*   rumus1 : Xavg = jumlah total x / jumlah data
*   rumus2 : X = (x - Xavg) / (x_max-x_min)

In [25]:
xavg = df['Umur'].mean()
xavg

24.166666666666668

In [27]:
df['Mean Norm'] = (df['Umur'] - xavg)/(xmax-xmin)
df

,Nama,Status Rumah,Gaji Orang Tua,Umur,simple_scaling,minmax,Mean Norm
0,aldi taher,Kontrak,2100000,24,0.857143,0.428571,-0.023810
1,kekeyi,Milik,4000000,23,0.821429,0.285714,-0.166667
2,rangga sasana,Kontrak,1400000,21,0.750000,0.000000,-0.452381
3,vicky prasetyo,Kontrak,700000,28,1.000000,1.000000,0.547619
4,Zuko,Milik,650000,27,0.964286,0.857143,0.404762
5,dyrga,Kontrak,450000,22,0.785714,0.142857,-0.309524

Standarization Z-Score

In [33]:
from sklearn.preprocessing import StandardScaler
scaler_z = StandardScaler()

In [34]:
scaled_z = scaler_z.fit_transform(df[['Umur']])
print(scaled_z)

[[-0.06551218]
 [-0.45858525]
 [-1.24473139]
 [ 1.5067801 ]
 [ 1.11370703]
 [-0.85165832]]